.rootWrapper {
    margin-left: 5vw;
    width: 90vw;
    justify-content: center;
}

.header {
    height: 4vh;
    min-height: 4vh;
    width: 100%;
    background-color: rgb(30, 30, 46);
    display: grid;
    align-content: center;
    justify-content: center;
    color: white;
}

.mainWrapper {
    display: grid;

    gap: 1vh;
    grid-template-rows: 1fr 1fr 8fr;
    width: 100%;
    height: 100vh;
}

.searchWrapper {
    width: 100%;

    display: grid;
    justify-content: start;
    align-items: center;
    border: 1px solid black;
    background-color: cadetblue;
}

.searchContainer {
    margin-left: 2vw;
    gap: 2vw;
}


.funcWrapper {
    width: 100%;
    border: 1px solid black;
    background-color: rgb(64, 216, 132);
}

.funcContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 2vw;
    align-items: center; 

}


.gridWrapper {

    max-height: 90vh;
    border: 1px solid black;
}

.addLink {
    text-decoration: none;
    color: black;
}

.rootDeleteWrapper {

    display: none;
    position: relative;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.addButtonWrapper {
    width: fit-content;
}
@media screen and (max-width: 1050px) {
    .rootWrapper{
        margin-left: 0;
    }
}